.popUpItemBlock {
    width: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.popUpItemBlockWrapper {
    // width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.itemTitle {
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: center;
    align-items: center;
    img {
        max-width: 240px;
    }
    h2 {
        font-size: 32px;
        font-weight: bold;
    }
}
.itemName {
    // color: brown;
}
.popUpItemBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
}
