.popUpItemBlock {
    padding: 0 24px 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.popUpItemBlockWrapper {
    padding: 24px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 8px;
    background-color: wheat;
    gap: 24px;
}
.itemTitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
    img {
        max-width: 160px;
        border-radius: 8px;
    }
    h2 {
        font-size: 32px;
        font-weight: bold;
        background-color: #3d9970;
        display: flex;
        align-items: center;
        border-radius: 8px;
        padding: 32px;
        color: #ffffff;
    }
}
.popUpItemInfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
    img {
        max-width: 160px;
        border-radius: 8px;
    }
}
.popUpItemDescription {
    font-size: 24px;
    font-weight: 400;
    background-color: #ff851b;
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding: 24px;
}
.btnWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.applyBtn {
    border: none;
    background-color: #ffbb29;
    padding: 32px 40px;
    text-align: center;
    border-radius: 8px;
    &:hover {
        background-color: #ff851b;
    }
    h2 {
        font-size: 24px;
        font-weight: 700;
        color: #013a3c;
    }
}
// Responcive
@media (max-width: 1120px) {
    .popUpItemBlock {
        margin-top: 136px;
    }
    .popUpItemDescription {
        font-size: 20px;
    }
}
@media (max-width: 880px) {
    .itemTitle {
        h2 {
            font-size: 24px;
            font-weight: bold;
        }
    }
    .popUpItemDescription {
        font-size: 18px;
    }
    .applyBtn {
        padding: 24px;
        h2 {
            font-size: 18px;
        }
    }
}
@media (max-width: 768px) {
    .popUpItemBlockWrapper {
        justify-content: center;
        align-items: center;
    }
    .itemTitle {
        flex-direction: column;
        img {
            max-width: 160px;
            border-radius: 8px;
        }
        h2 {
            font-size: 24px;
            border-radius: 8px;
            padding: 16px;
            text-align: center;
        }
    }
    .popUpItemInfo {
        flex-direction: column;
    }
}
@media (max-width: 424px) {
    .itemTitle {
        h2 {
            font-size: 18px;
        }
    }
}
