.popUpItemBlock {
    padding: 0 24px 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.popUpItemBlockWrapper {
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 8px;
    background-color: wheat;
    gap: 24px;
}
.itemTitle {
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: center;
    align-items: center;
    img {
        max-width: 240px;
        border-radius: 8px;
    }
    h2 {
        font-size: 32px;
        font-weight: bold;
        height: 160px;
        background-color: #3d9970;
        display: flex;
        align-items: center;
        border-radius: 8px;
        padding: 0 24px;
        color: #ffffff;
    }
}
.popUpItemInfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
img {
    width: 160px;
    padding: 48px;
}

.popUpItemDescription {
    font-size: 24px;
    font-weight: 400;
    height: 240px;
    background-color: #ff851b;
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding: 0 24px;
}

.btnWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.applyBtn {
    border: none;
    background-color: #ffbb29;
    padding: 32px 40px;
    text-align: center;
    border-radius: 8px;
    &:hover {
        background-color: #ff851b;
    }
    h2 {
        font-size: 24px;
        font-weight: 700;
        color: #013a3c;
    }
}

// Responcive

@media (max-width: 1120px) {
    .popUpItemBlock {
        margin-top: 168px;
    }
    .itemTitle {
        display: flex;
        flex-direction: row;
        gap: 24px;
        justify-content: center;
        align-items: center;
        img {
            height: 112px;
            width: 112px;
        }
        h2 {
            font-size: 20px;
            height: 112px;
            padding: 0 16px;
        }
    }
    .popUpItemInfo {
        gap: 16px;
    }
    img {
        width: 112px;
        padding: 24px;
    }
    .popUpItemDescription {
        font-size: 20px;
        padding: 0 20px;
    }
    .applyBtn {
        padding: 24px;
        h2 {
            font-size: 20px;
        }
    }
}

@media (max-width: 808px) {
    .popUpItemDescription {
        font-size: 16px;
        padding: 0 20px;
    }
    .applyBtn {
        h2 {
            font-size: 16px;
        }
    }
}

@media (max-width: 616px) {
    .popUpItemDescription {
        font-size: 14px;
    }
}
