.productList {
    max-width: 1440px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    // background-color: rgb(78, 228, 40);
}
.cardContainer {
    display: flex;
    flex-direction: row;
    background-size: cover;
    background-position: bottom center;
    gap: 8px;
}
.productLink {
    padding: 8px 4px;
    &:hover {
        color: #2950ff;
    }
}
