.heroBlock {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.heroWrapper {
    padding: 0 24px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.heroContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.heroImg {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    .imageTop {
        width: 100%;
        border-radius: 8px;
    }
}

.heroTitle {
    padding: 8px;
    width: 80%;
    position: absolute;
    top: 50%;
    z-index: 4;
    background: linear-gradient(0.25turn, #ffffff1e, #ffffff, #ffffff31);
    p {
        color: #013a3c;
        font-size: 32px;
        font-weight: bold;
        text-align: center;
        margin: 0;
    }
}

@media (max-width: 1120px) {
    .heroImg {
        margin: 96px auto 0;
    }
}
@media (max-width: 880px) {
    .heroContainer {
        flex-direction: column;
    }
    .heroTitle {
        top: 48%;
    }
}
@media (max-width: 688px) {
    .heroContainer {
        flex-direction: column;
    }
    .heroTitle {
        width: 72%;
        p {
            font-size: 16px;
        }
    }
}
@media (max-width: 560px) {
    .heroTitle {
        top: 32%;
    }
}
@media (max-width: 448px) {
    .heroTitle {
        padding: 4px;
        width: 64%;
        p {
            font-size: 14px;
        }
    }
}
@media (max-width: 376px) {
    .heroTitle {
        padding: 0;
        width: 48%;
        p {
            font-size: 12px;
        }
    }
    .heroImg {
        .imageTop {
            max-width: 100%;
        }
    }
}
