.infoTableBlock {
    width: 100%;
}
.infoList {
    max-width: 1440px;
    margin: 0 auto;
    padding-bottom: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
h1 {
    font-size: 30px;
    font-size: bold;
}
.infoImg {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 768px;
    gap: 40px;
}
.imgWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h4 {
        font-size: 24px;
        font-weight: bold;
        text-align: center;
    }
    img {
        width: 100%;
    }
}

.infoText {
    font-size: 24px;
    color: #013a3c;
    padding: 0 24px;
    text-align: center;
}
.industrywrapper {
    display: flex;
    flex-direction: row;
    padding: 24px;
    gap: 80px;
}
.industry {
    padding: 24px;
    width: 100%;
    color: #ffffff;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    background-color: rgb(236, 236, 236);
    border-radius: 8px;
}
h3 {
    padding-bottom: 16px;
    font-weight: bold;
}

.infoCard {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 24px;
    background-color: #ff851b;
    border-radius: 8px;
}
.industryBlock {
    border-radius: 8px;
    padding: 24px;
    width: 50%;
    max-height: 640px;
}
.listWrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0;
    list-style-type: none;
    h5 {
        font-weight: bold;
        font-size: 16px;
        margin: 0;
        color: #ffffff;
    }
    li {
        font-size: 16px;
        text-align: justify;
        color: #ffffff;
    }
}
// Responcive
@media (max-width: 1120px) {
    .imgWrapper {
        h4 {
            font-size: 18px;
        }
    }
}

@media (max-width: 768px) {
    .infoList {
        padding-bottom: 16px;
        gap: 16px;
    }
    .infoImg {
        flex-direction: column;
    }
    h1 {
        font-size: 20px;
    }
    .imgWrapper {
        h4 {
            font-size: 16px;
        }
        img {
            max-width: 75%;
        }
    }
    .infoText {
        font-size: 18px;
    }
    .industrywrapper {
        gap: 40px;
    }
}
@media (max-width: 712px) {
    .imgWrapper {
        h4 {
            font-size: 14px;
        }
    }
    .infoText {
        font-size: 16px;
    }
    .industrywrapper {
        gap: 32px;
    }
}
@media (max-width: 656px) {
    // .infoImg {
    //     max-width: 344px;
    //     img {
    //         max-width: 144px;
    //     }
    // }
}
@media (max-width: 480px) {
    h1 {
        font-size: 18px;
    }
}
// .infoImg {
//     flex-direction: column;
//     max-width: 480px;
//     gap: 24px;
//     img {
//         max-width: 320px;
//     }
// }
.imgWrapper {
    h4 {
        font-size: 18px;
    }
}

// @media (max-width: 1024px) {
//     .infoTableBlock {
//         padding: 24px 8px;
//     }
//     .industryBlock {
//         width: 88%;
//         border-radius: 8px;
//         background-color: #ff851b;
//     }
//     .headList {
//         height: auto;
//     }
//     .infoList {
//         flex-direction: column;
//         padding: 0 24px 40px;
//     }
//     .infoCard {
//         flex-direction: column;
//         gap: 16px;
//     }
// }
// @media (max-width: 480px) {
//     .infoText {
//         font-size: 18px;
//         line-height: 24px;
//     }
// }
