// HeroBottom
.mediaBlock {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.mediaContainer {
    max-width: 1440px;
    padding: 0 24px 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.videoWrapper {
    width: 100%;
    padding: 24px;
    border-radius: 8px;
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #018e49;
}
.videoBlock {
    width: 1400px;
    object-fit: cover;
    text-align: center;
    border-radius: 8px;
}
.heroManifest {
    padding: 8px 16px;
    border-radius: 8px;
    position: absolute;
    bottom: 20%;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: #013a3c;
    background-color: #ffffff;
}

.mediaContent {
    font-size: 16px;
    border-radius: 8px;
    padding: 24px;
    font-weight: 500;
    background-color: #013a3c;
    text-align: justify;
}
.mediaText {
    color: #ffffff;
    font-size: 20px;
}

.manifestBlock {
    max-width: 1440px;
    display: flex;
    // padding: 24px;
}

// @media (max-width: 1344px) {
//     .mediaText {
//         // font-size: 16px;
//         padding: 8px;
//         margin: 0;
//     }

//     .heroManifest {
//         max-width: 100%;
//         padding: 8px;
//     }
// }
// @media (max-width: 1144px) {
//     .mediaContainer {
//         flex-direction: column;
//     }
// }
// @media (max-width: 1120px) {
//     .heroManifest {
//         padding: 8px;
//     }
// }
// @media (max-width: 880px) {
//     // .manifestBlock {
//     //     padding: 0 24px 24px;
//     // }
//     .heroManifest {
//         padding: 16px;
//         font-size: 16px;
//     }
//     .videoBlock {
//         padding: 0 24px 32px;
//     }
// }
