// HeroBottom
.mediaBlock {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.mediaContainer {
    max-width: 1440px;
    padding: 0 24px 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.videoWrapper {
    width: 100%;
    border-radius: 8px;
    position: relative;
    display: flex;
    justify-content: center;
}
.videoBlock {
    width: 1352px;
    height: 496px;
    object-fit: cover;
    text-align: center;
    border-radius: 8px;
}
.heroManifest {
    padding: 8px 16px;
    border-radius: 8px;
    position: absolute;
    bottom: 20%;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
    color: #013a3c;
    background-color: #ffffff;
}

.mediaContent {
    font-size: 16px;
    border-radius: 8px;
    padding: 24px;
    font-weight: 500;
    background-color: #013a3c;
    text-align: justify;
}
.mediaText {
    color: #ffffff;
    font-size: 20px;
}

.manifestBlock {
    max-width: 1440px;
    display: flex;
}

// Responcive
@media (max-width: 1408px) {
    .videoBlock {
        width: 1296px;
    }
}
@media (max-width: 1368px) {
    .videoBlock {
        width: 1240px;
    }
}
@media (max-width: 1312px) {
    .videoBlock {
        width: 1184px;
    }
}
@media (max-width: 1260px) {
    .videoBlock {
        width: 1128px;
    }
}
@media (max-width: 1204px) {
    .videoBlock {
        width: 1072px;
    }
}
@media (max-width: 1136px) {
    .videoBlock {
        width: 1016px;
    }
}
@media (max-width: 1088px) {
    .videoBlock {
        width: 960px;
    }
}
@media (max-width: 1032px) {
    .videoBlock {
        width: 904px;
    }
}
@media (max-width: 960px) {
    .videoBlock {
        width: 848px;
    }
    .heroManifest {
        font-size: 24px;
    }
}
@media (max-width: 904px) {
    .videoBlock {
        width: 792px;
    }
}
@media (max-width: 848px) {
    .videoBlock {
        width: 736px;
    }
}
@media (max-width: 792px) {
    .videoBlock {
        width: 680px;
        height: 440px;
    }
    .heroManifest {
        font-size: 20px;
        padding: 8px;
    }
}
@media (max-width: 728px) {
    .videoBlock {
        width: 624px;
    }
}
@media (max-width: 672px) {
    .videoBlock {
        width: 568px;
    }
}
@media (max-width: 640px) {
    .videoBlock {
        width: 512px;
        height: 384px;
    }
    .heroManifest {
        font-size: 16px;
        border-radius: 0;
        bottom: 15%;
        color: #ffffff;
        background-color: #018e49;
    }
}
@media (max-width: 584px) {
    .videoBlock {
        width: 456px;
        height: 328px;
    }
}
@media (max-width: 528px) {
    .videoBlock {
        width: 400px;
        height: 296px;
    }
    .heroManifest {
        font-size: 16px;
    }
}
@media (max-width: 480px) {
    .videoBlock {
        width: 336px;
        height: 264px;
    }
}
@media (max-width: 400px) {
    .videoBlock {
        width: 304px;
        height: 216px;
    }
}
@media (max-width: 384px) {
    .videoBlock {
        width: 272px;
    }
}

// @media (max-width: 1344px) {
//     .mediaText {
//         // font-size: 16px;
//         padding: 8px;
//         margin: 0;
//     }

//     .heroManifest {
//         max-width: 100%;
//         padding: 8px;
//     }
// }
// @media (max-width: 1144px) {
//     .mediaContainer {
//         flex-direction: column;
//     }
// }
// @media (max-width: 1120px) {
//     .heroManifest {
//         padding: 8px;
//     }
// }
// @media (max-width: 880px) {
//     // .manifestBlock {
//     //     padding: 0 24px 24px;
//     // }
//     .heroManifest {
//         padding: 16px;
//         font-size: 16px;
//     }
//     .videoBlock {
//         padding: 0 24px 32px;
//     }
// }
// background-color: #018e49;
//
