// Header desctop
.header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.headerContainer {
    width: 1440px;
    padding: 0 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
// Header desctop up
.headerUp {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 128px;
    background-color: #ffffff;
    .headerLogo {
        width: 320px;
        padding: 8px 0;
    }
    ul {
        display: flex;
        flex-direction: row;
        gap: 40px;
        list-style-type: none;
        padding-inline-start: 0;
    }
    .link {
        text-decoration: none;
        &:hover {
            color: #447ac6;
        }
    }
    .lansDesctop {
        display: flex;
        flex-direction: row;
        gap: 8px;
        div {
            list-style-type: none;
            padding-inline-start: 0;
        }
        .lan {
            font-size: 14px;
            font-weight: bold;
            padding: 8px;
            border-radius: 4px;
            background-color: #ff851b;
            &:hover {
                background-color: #018e49;
            }
        }
    }
}
// Header desctop bottom
.headerBottom {
    width: 100%;
}
// dropdown button
.dropdownWrapper {
    width: 100%;
    display: flex;
    padding: 16px 0;
    justify-content: space-evenly;
    flex-direction: row;
    background-color: #013a3c;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdownButton {
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    background-color: #ff851b;
}
.dropdownContent {
    display: none;
    padding: 4px;
    position: absolute;
    flex-direction: column;
    border: 1px solid #ddd;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.95);
}
.dropdownLink {
    color: #013a3c;
    text-decoration: none;
    list-style-type: none;
    &:hover {
        text-decoration: none;
        color: #447ac6;
    }
}
.dropdownContent .dropdownLink {
    display: block;
}
.dropdownContent .dropdownLink:hover {
    background-color: transparent;
}
.dropdown:hover .dropdownContent {
    padding-top: 8px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.dropdown:hover .dropdownButton {
    background-color: #018e49;
    color: #ffffff;
}

// ----------------------------------
// Header mobile
.headerMobile {
    display: none;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    z-index: 7;
}
.headerMobileWrapper {
    width: 100%;
    padding: 8px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-bottom: 4px solid #018e49;
    .headerLogo {
        width: 320px;
    }
    .burgerBtn {
        width: 48px;
    }
}
// -----------------------------------
// Header popUp
.popUpMobile {
    width: 100%;
    height: 120vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 7;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #013a3c;
}
.wrapperPopUp {
    padding: 16px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .arrowPopupImg {
        max-width: 64px;
    }
    ul {
        padding-inline-start: 0;
    }
    li {
        list-style-type: none;
        padding-bottom: 16px;
    }
    .link {
        color: #fff;
        &:hover {
            color: #447ac6;
        }
    }
    .listLanPopUp {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 16px;
        .lan {
            font-size: 12px;
            font-weight: bold;
            padding: 8px;
            border-radius: 4px;
            background-color: #ff851b;
            &:hover {
                background-color: #018e49;
            }
        }
    }
}
.popUpListContainer {
    padding: 0 8px;
    display: flex;
    flex-direction: row;
    gap: 64px;
    justify-content: center;
}
.popUpListWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    p {
        color: #fff;
        font-weight: 700;
    }
    .link {
        color: #fff;
        &:hover {
            color: #447ac6;
        }
    }
}
.popUpList {
    display: flex;
    flex-direction: column;
}

// -----------------------------------
// Desctop responcive menu

@media (max-width: 1432px) {
    .headerUp {
        gap: 112px;
    }
}
@media (max-width: 1392px) {
    .headerUp {
        gap: 96px;
    }
    // .headerBottom {
    //     padding: 16px 332px;
    //     gap: 320px;
    // }
}
@media (max-width: 1352px) {
    .headerUp {
        gap: 80px;
    }
}
@media (max-width: 1328px) {
    .headerUp {
        gap: 64px;
    }
}
@media (max-width: 1296px) {
    .headerUp {
        gap: 40px;
    }
}
@media (max-width: 1264px) {
    .headerUp {
        gap: 24px;
    }
}
@media (max-width: 1224px) {
    .headerUp {
        gap: 8px;
    }
}
@media (max-width: 1184px) {
    .headerContainer {
        padding: 0 8px;
    }
    .headerUp {
        gap: 8px;
        ul {
            gap: 32px;
        }
    }
}

// Mobile responcive menu

@media (max-width: 1120px) {
    .headerContainer {
        display: none;
    }
    .headerMobile {
        display: flex;
    }
}

@media (max-width: 424px) {
    .headerMobileWrapper {
        padding: 8px 16px;
        .headerLogo {
            width: 240px;
        }
        .burgerBtn {
            width: 32px;
        }
    }
}
